<div class="container">

  <div class="instructions">
    Enter a Github username or organization name. If your search matches, you should see a list of repositories sorted by likes.
  </div>

  <div class="form-container">
    <div class="form-options">
      <mat-form-field class="search-input" appearance="outline">
        <mat-label>Search by Username or Organization Name</mat-label>
        <mat-icon matPrefix class="prefix">search</mat-icon>
        <input matInput type="text" [(ngModel)]="inputValue" />
        <button
          mat-button
          mat-icon-button
          matSuffix
          aria-label="Clear"
          class="suffix"
          *ngIf="inputValue"
          (click)="inputValue=''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-radio-group [(ngModel)]="entityType">
        <mat-radio-button class="radio-button" *ngFor="let type of entityTypes" [value]="type">
          {{ type }}
        </mat-radio-button>
      </mat-radio-group>
    </div>


    <button (click)="search()">Search</button>
  </div>

</div>
